:root {
  --bg-main: #090c0f;
  --bg-glass: rgba(22, 26, 34, 0.75);
  --bg-card: #0f1621;

  --text-main: #e8eef6;
  --text-muted: #a9b4c0;

  --accent: #f97316;
  --accent-hover: #fb923c;

  --border-dark: rgba(255, 255, 255, 0.08);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;

  background-color: var(--bg-main);
  color: var(--text-main);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
  
input,
button,
textarea,
select {
  font-family: inherit;
}
